@model NWLabs.Models.Catalog
@{
    ViewBag.Title = "Catalog";
}

<div class="containe-fluid">
    <div class="row">
        <div class="col-md-9">
            <h2>Catalog</h2>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for Assays">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                @foreach (var item in Model.assay_tests)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@item.assay.AssayID">
                                <h4 class="panel-title" style="display:inline;">
                                    @item.assay.AssayName
                                </h4> -
                                <p class="text-muted" style="display:inline;">@item.assay.AssayProtocol</p>
                            </a>
                        </div>

                        <div id="collapse-@item.assay.AssayID" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.ActionLink("Add Assay to Order", "AddOrder", "Orders", new { id = item.assay.AssayID }, new { @class = "test=right" })
                                
                                <br />
                                @foreach (var test in item.test)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#test-@test.TestID@item.assay.AssayID">
                                                <h4 class="panel-heading" style="display:inline;">
                                                    @test.TestName
                                                </h4> -
                                                <p class="text-muted" style="display:inline;">@item.assay.AssayProtocol</p>
                                            </a>
                                        </div>

                                        <div id="test-@test.TestID@item.assay.AssayID" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @item.assay.AssayDesc
                                                <br />

                                            </div>
                                        </div>

                                    </div>

                                }

                            </div>
                        </div>

                    </div>

                }
            </div>
        </div>
    </div>

</div>
